{% load static %}
{% block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'login/css/reg.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<header>
    <img src="{% static 'login/img/logo.png' %}" alt="">
    <div class="logo">QREasy</div>

</header>

<body>
    <form method="post">
        
            <h2>Увійти</h2>
            <h3>Електрона пошта</h3>
        <div class="iconBox">
            <div class="blue"></div>
            <input type="text"  placeholder="email@gmail.com" required ><img src="{% static 'login/img/img4.png' %}" alt="">
        </div>
            <h3>Пароль</h3>
        <div class="iconBox2">
            <div class="blue2"></div>
            <input class="star" type="text" placeholder="*******" required><img src="{% static 'login/img/lock.png' %}" alt="">
        </div>
            <button type="submit" >Увійти</button>
            <a href="#">Не маєте акаунт?</a>
    </form>

    
</body>
{% endblock %}