*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:#4466FF;
    width: 100vw;
    height: 50px;
    display: flex;
 
    align-items: center;
    gap: 5px;
}
header img{
    text-align: left;
}
header a{
    color: #ffffff;
    text-decoration: none;
}
.link_qr{
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    text-align: center;
    padding: 0px 10px 0px 200px;
}

.my_qr{
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    padding: 0px 10px 0px 100px;
}
.links{
    /* position: absolute; */
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    padding: 0px 10px 0px 200px;
    margin-left: 400
    ;
}
.exit{
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    padding: 0px 10px 0px 70px;
    /* margin-left: 450px; */
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #E8ECFC;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.free{
    display: flex;
    justify-content: center;
    text-align: end;
}
.free div{
    display: flex;
    width: 100vw;
    height: 106px;
    background-color: #ffffff;
    margin-top: 50px;

    flex-direction: row;
    padding: 0px 94px 0px 94px;
    gap: 19px;
    opacity: 0px;
    

}

.p1 {
    /* display: flex; */
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-weight: bold;
    /* line-height: 48.76px; */
    text-align: center;
    display: grid;
    place-items: center;
    height: 100px;
}
.p2 {
    /* display: flex; */
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-weight: bold;
    /* line-height: 48.76px; */
    text-align: center;
    display: grid;
    place-items: center;
    height: 100px;
    color: #57CCF2;
}
.p3 {
    /* display: flex; */
    font-family: Montserrat Alternates;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100px;
   
}
.QR{
    width: 423px;
    height: 419px;
    gap: 0px;
    opacity: 0px;

}
.main{

    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 300px;
}

h2{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    padding: 10px 10px 10px 30px
    /* text-align: center; */
}
form input{
    margin-bottom: 25px;
    width: 661px;
    height: 52px;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    border-radius: 11px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}
form img{
    /* display: flex; */
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;

    width: 20px;
    height: 20px;
    /* margin-top: 50px; */
}
/* .QR_button{
text-align: center;

justify-content: center;
} */
button{
    position: absolute;
    width: 330px;
    height: 53px;
    padding: 10px 0px 10px 0px;
    border-radius: 28px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-top: 440;
    /* text-align: center; */
    /* margin-bottom: 158px; */
    margin-left: -375px;
    background-color: #4466FF;
}
button {
    font-family:  Gothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.43px;
    text-align: center;
    color: #ffffff;
    justify-content: center;
}
