<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:
    ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;
    1,700;1,800;1,900&family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home_after/css/home_after.css' %}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    

    <header>

      <img src="{% static 'images/logotype_qreasy.png' %}" alt="logotype_qreasy">
 

      <nav class="qr-code-links">
        <a href="">Cтворити QR-код</a>
        <a href="">Мої QR-коди</a>
      </nav>
      
      <nav class="login-links" >
        <a href="">Контакти</a>
        <a href="">Увійти/Зареєструватись</a>
      </nav>


    </header>


      {% block content %} 
      {% endblock %}
    

    <footer>
        <div class="about-us" >
         <p> Про нас </p>
         <nav class = "footer-links">
            <a href="">Контакти</a>
            <a href="">Питання</a>
            <a href="">Політика конфіденційності</a>
         </nav>
          
        </div> 


        <div class = "contacts-icons">
          <img src = "{% static 'images/black-youtube-icon.png' %}" alt="black-youtube-icon">
          <img src = "{% static 'images/email-icon-design.png' %}" alt="email-icon-design">
          <img src = "{% static 'images/telegram-black-icon.png' %}" alt="telegram-black-icon">
          <img src = "{% static 'images/black-instagram-icon.png' %}" alt="black-instagram-icon">
        </div>

        <div class = "copyright-logotype">
          <img src="{% static 'images/logotype_qreasy2.png' %}" alt="logotype_qreasy">
          <p>&copy; Copyright 2024 QR-EASY.COM</p>
        </div>

    </footer>
    
    
    
  </body>
</html>